.rounded {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  padding: 0.1em;
  margin-bottom: 1em;
}

.a {
  color: darkblue;
  text-decoration: none;
}
.a:hover {
  text-decoration: line-through;
}
.a:active {
  color: red;
}
